<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidlessons">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidLessons">
        <activity android:name=".SecondActivity" >
<!--            android:configChanges="orientation|screenSize"-->
<!--            тут говорим, когда окнфигурация экрана должна поменяться. Пишем, когда ориентейшн и скринсайз.
Данные не пропадут при перертоне!! Но: это значит, что при перевертоне мы не перестраиваем активити, мы просто растягивает лайаут.
Но если хотим разные лайауты, оно не прокатит.-->
        <!-- android:screenOrientation="portrait" --> </activity> <!-- запрещаем поворачивать экран. -->
<!--        выше пустой тег!! надо закрывать так:-->
<!--        /> и всё.-->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>